#Supabase-pswd
SUPABASE_DB:PASSWORD=XXXXXXXXXX

#Resend https://resend.com/api-keys
RESEND_API_KEY=xxxxxxxxxxxx



#Nextjs-Supabase  From:https://supabase.com/dashboard
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxxxxxx